.nice-menu {
  list-style: none;
  display: flex;
  padding: 2px;
  margin: 0;
  cursor: default;
}
.nice-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.16em;
  width: 2.5em;
  height: 2.5em;
  border: 0.3125em solid #e2e2e2;
  border-radius: 0.3125em;
  background: #767676;
  color: #fff;
  box-shadow: 1px 1px 1px #767676;
}
.nice-menu li:hover {
  color: #ecb8b8;
}
.nice-menu li.active {
  /* color: #9ebfdf; */
  color: #ecb8b8;
}
