.search-results {
  list-style: none;
  padding: 0;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}
.search-item {
  padding: 2px;
}
.search-item:hover {
  background: #f5f5f5;
  /* padding: 0.5em 0; */
}
