/* html {
  font-size: 100%;
} */
body {
  margin: 0;
  padding: 0;
  background: #dadada;
  color: #4c4c4c;
  font-family: "Roboto";
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
}
h1,
h2,
h3,
h4 {
  margin-bottom: 0.2rem;
  font-family: inherit;
  font-weight: 500;
}
.main-content {
  flex: 1;
  margin: 0;
  padding: 30px 20px;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  background: #f9f9f9;
}
header {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0 20px;
  background: #f9f9f9;
  border: 10px solid #fff;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  position: relative;
}
footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 50px;
  margin-bottom: 30px;
  margin-top: 10px;
  background: #f9f9f9;
  border: 10px solid #fff;
  border-top: none;
  border-radius: 0 0 10px 10px;
  color: #767676;
}
.settings-btn {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1.5rem;
  color: rgba(118, 118, 118, 0.5);
}
strong,
b {
  font-weight: 500;
}
.main-post pre {
  white-space: pre-wrap;
}
.post {
  max-width: 720px;
  margin-bottom: 1rem;
}
.post-info {
  color: #767676;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.post-title a {
  color: inherit;
}
.post-title a:hover {
  color: indianred;
}
.post-score {
  margin: 0 0.5em;
  line-height: 1;
  background: #e8e8e8;
  font-size: 0.8rem;
  padding: 2px 5px;
  border-radius: 500px;
}
.ui.search .prompt {
  border-radius: 0.285rem;
}
.ui.segment {
  box-shadow: none;
}
.ui.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 568px) {
  .main-content {
    padding: 30px 10px;
  }
  header {
    padding: 0 10px;
  }
}
